/* Stylesheet */

body{
	background: url("../img/bg.png");
	}


p {
	font-family: 'Open Sans', sans-serif;
	}

footer {
	
	}
	
section {
		
	}
	

/* Help Class to Show Grid */
.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}